
<ion-tabs class="tabs-icon-top tabs-background-positive tabs-color-energized tabMenuInferior">
  <!-- Saldo -->
  <ion-tab title="Consultar Saldo" icon-off="ion-ios-pie-outline" icon-on="ion-ios-pie-outline" href="#/tab/consult">
    <ion-nav-view name="tab-card"></ion-nav-view>

  </ion-tab>

  <!-- Venda -->
  <ion-tab title="Venda" icon-off="ion-social-usd-outline" icon-on="ion-social-usd-outline" href="#/tab/products">
    <ion-nav-view name="tab-products"></ion-nav-view>
  </ion-tab>
</ion-tabs>
