<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <!-- O META DADO ABAIXO SERVE PARA DEIXAR O NAVEGADOR NA COR DE FUNDO DO SITE. SÓ NOS MOBILES -->
    <meta name="theme-color" content="#3f84b2">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style2019.css" rel="stylesheet">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">    

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers/UserCtrl.js"></script>
    <script src="js/controllers/ProductsCtrl.js"></script>
    <script src="js/controllers/ConsultCtrl.js"></script>
    <script src="js/controllers/CheckoutCtrl.js"></script>
    <script src="js/controllers/ResponseCtrl.js"></script>


    <script src="js/utils/storagelocal.js"></script>

    <script src="js/services/UserService.js"></script>
    <script src="js/services/ProductService.js"></script>
    <script src="js/services/CardService.js"></script>
    <script src="js/services/CheckoutService.js"></script>

    <script type="text/javascript">
      window.onerror = function (errorMsg, url, lineNumber) {
        alert('Error: ' + errorMsg + ' Script: ' + url + ' Line: ' + lineNumber);
      }
      </script>
  </head>
  <body ng-app="PortasAbertas">
    <ion-nav-bar class="bar bar-header bar-positive">
      <ion-nav-buttons side="right">
        <a href='#' ng-click='logout()' class='button button-icon icon ion-log-out btnLogoff'>Fazer Logoff</a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view>      

    </ion-nav-view>

    <script id="associate.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <h1 class="title text-center">Associar cartão</h1>
          <a href="" class="button pull-right button-positive" ng-click="closeModal();"> Fechar </a>
        </ion-header-bar>
        <ion-content>
          <form name="formAssociate" novalidate>
            <div class="list">
            
              <label class="item item-input item-floating-label">
                <input type="text" placeholder="Número do cartão" ng-model="cardNumber" readonly>
           
              </label>
              <br>
              
              <label class="item item-input item-floating-label">
                <span class="input-label">Nome* </span>
                <input type="text" placeholder="Nome" ng-model="data.name" required>
                </label>
                <div class="padding">
                  <p ng-show="formAssociate.username.$error.required">* Nome é obrigatório</p>
                </div>
               <br>

              <label class="item item-input item-floating-label">
                <span class="input-label">Sobrenome* </span>
                <input type="text" placeholder="Sobrenome" ng-model="data.lastname" required>
                </label>
                <div class="padding">
                  <p ng-show="formAssociate.lastname.$error.required">* Sobrenome é obrigatório</p>
                </div>
               <br>

              <label class="item item-input item-floating-label">
                <span class="input-label">Documento *</span>
                <input type="text" placeholder="Documento" ng-model="data.document" required>
              </label>
              <div class="padding">
                  <p ng-show="formAssociate.document.$error.required">* Documento é obrigatório</p>
                </div>

            </div>

            <button class="button button-block button-positive" ng-disabled="formAssociate.$invalid" ng-click="associateCard();">Associar</button>
          </form>

        </ion-content>
      </ion-modal-view>
    </script>

  </body>
</html>
